# OpenAI API
OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_DEFAULT_MODEL=

# Anthropic API
ANTHROPIC_API_KEY=
ANTHROPIC_BASE_URL=
ANTHROPIC_DEFAULT_MODEL=

# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=渡一LangGraph学习

# TAVILY
TAVILY_API_KEY=

# 沙箱
E2B_API_KEY=""
E2B_API_URL="https://api.<region>.e2b.fc.aliyuncs.com"
E2B_DOMAIN="<region>.e2b.fc.aliyuncs.com"
E2B_TEMPLATE="code-interpreter-v1"
E2B_ROLE_ARN=""
E2B_OSS_ENDPOINT=""
E2B_OSS_BUCKET=""
